<!doctype html>
<html lang="en">
<head>
	<title>Recipehub</title>

	<!-- Links to external stylesheets -->
	<link rel="shortcut icon" href="/img/favicon.ico">

	{% block stylesheets %}
            <link href="{{ asset('/css/main.css') }}" rel="stylesheet" />
    {% endblock %}
	
</head>

<body>
	{% block content %}{% endblock %}
</body>

</html>