<!doctype html>
<html lang="en">
<head>
	<title>Recipehub</title>

	<!-- Links to external stylesheets -->
	<link rel="stylesheet" href="/bundles/recipehubrecipe/css/main.css" type="text/css">
	<link rel="shortcut icon" href="/img/favicon.ico">
	
</head>

<body>
	{% block content %}{% endblock %}
</body>

</html>