{% extends "OmnomhubMainBundle:Default:layout.html.twig" %}

{% block content %}
    <img class="hippo" src="/images/hippo.png"/>
	<h1>Welcome!</h1>
	<p>Like github, but for recipes! Omnomnomnom... :)</p>
{% endblock %}