<!doctype html>
<html lang="en">
<head>
	<title>Omnomhub</title>

	<!-- Links to external stylesheets -->
	{% block stylesheets %}
            <link href="{{ asset('/css/main.css') }}" rel="stylesheet" />
    {% endblock %}
	
</head>

<body>
	{% block content %}{% endblock %}
</body>

</html>